*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    overflow: hidden;
    color: azure;
    background-color: black;
    background-attachment: fixed;
    animation: fadeIn 1s ease-in;
}