* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}

#header {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

.container {
    margin: 0 100px;
}

.logo {
    margin-top: 30px;
    width: 100px;
}

.header-text {
    max-width: 350px;
    margin-top: 30px;
}

h1 {
    font-size: 30px;
}

.square, .line-1 {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

.common-button {
    padding: 15px;
    outline: none;
    border: 2px solid #f67c92;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}

.header-text button {
    margin: 30px 0 60px;
}

.line-2 {
    height: 2px;
    width: 80px;
    display: inline-block;
    background-color: #f67c92;
}

.line-3 {
    height: 2px;
    width: 60px;
    display: inline-block;
    background-color: #f67c92;
}

.line {
    line-height: 10px;
}

.sideNav {
    width: 350px;
    height: 100vh;
    position: fixed;
    right: -350px;
    top: 0;
    background-color: #f67c92;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 25px;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-btn {
    position: fixed;
    top: 15px;
    right: 25px;
    background-color: #f67c92;
    width: 50px;
    z-index: 2;
}

.about, .offers {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-column, .about-right-column {
    flex-basis: 50%;
}

.about-left-column img {
    width: 100%;
}

.about-right-column {
    text-align: right;
}

.about-text {
    display: inline-block;
    margin-right: 30px;
    max-width: 850px;
}

.about-text h2, .about-text h3 {
    font-style: italic;
}

.about-text h2 {
    margin: 50px 0 10px;
    font-size: 30px;
}

.about-text h3 {
    font-size: 25px;
}

.features {
    padding: 50px 0;
}

.feature-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

.feature-column {
    flex-basis: 25%;
    text-align: center;
}

.feature-column img {
    width: 100px;
}

.feature-column h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.feature-btn {
    margin: 40px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.courses {
    padding: 0 100px;
}

.course-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-left-column, .course-right-column {
    flex-basis: 50%;
}

.course-right-column img {
    width: 100%;
}

.course-text {
    margin-left: 30px;
    display: inline-block;
    max-width: 450px;
}

.course-text, .about-text button {
    margin: 30px 0;
}

.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-column, .contact-right-column {
    flex-basis: 50%;
}

.contact-right-column img {
    width: 100%;
}

form {
    max-width: 350px;
    margin: 30px 0;
}

form input {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 12px 30px;
    width: 100%;
    outline: none;
    border: 2px solid #fab3c5;
}

.contact-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-btn button {
    flex-basis: 45%;
}

.footer {
    padding-top: 5%;
    background-color: #f67c92;
    height: 30vh;
}

.footer-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-column {
    flex-basis: 50%;
    margin-top: 50px;
}

.footer-right-column {
    flex-basis: 40%;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link-title h4 {
    margin-bottom: 20px;
    color: #ba1740;
}

.link-title small {
    font-size: 15px;
    line-height: 30px;
    color: #f0ecec;
}


.copyright-text {
    color: #f7eff1;
    line-height: 20px;
    font-size: 20px;
}

.footer-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.footer-info img{
    width: 100px;
    margin-left: 70px;
}

.social-icons{
    position: fixed;
    top: 90%;
    right: 0;
    z-index: 3;
}

.social-icons img{
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}



/* responsiveness */

@media  only screen and (max-width:770px){
    
    #header{
        background-image: none;
        height: 70vh;
    }

    .container {
    margin: 0 50px;
    }

    .logo {
        margin-top: 25px;
        width: 50px;
    }

    .header-text {
        max-width: 350px;
        margin-top: 30px;
    }

    h1 {
        font-size: 20px;
    }

    p {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.common-button {
    padding: 10px;
    
}

.menu-btn {  
    right: 20px;
    width: 30px;
    
}

.social-icons img{
    width: 15px;
    margin: 0 2px;
    
}

.about, .offers {
    padding:none;
   
}


.about-left-column, .about-right-column {
    flex-basis: 100%;
}

.course-left-column, .course-right-column {
    flex-basis: 100%;
}

.course-text {
   
    display: inline-block;
   
    
}

}