*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#header{

    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

.container{

   margin: 0 100px;
}

.logo{

    margin-top: 30px;
   width: 100px;
}

.header-text{
    max-width: 350px;
    margin-top: 30px;

}
h1{
    font-size: 30px;
}
.square{

    height: 12px;
    width: 12px;
    margin: 20px 0;
    display: inline-block;
    background-color: #f67c92;
}

p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 16px;
    color: #777;
}

.common-button{

   padding: 15px 15px;
   outline: none;
   border: 2px solid #f67c92;
   background: transparent;
   cursor: pointer;
   font-weight: bold;
  
}